*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html, body{
    width:100%;
    height: 100%;
}
#main{
    background-color: #3C3B3C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    width:100%;
    height: 100vh;
    overflow: auto;
    position:relative;
}
#main h1{
    text-align: center;
    margin-top: 1.5rem;
}
#add, #todos{
    background-color: #2B2A2B;
    width:60vw;
    height:auto;
    margin : 0 auto;
    padding: 1.3vw 1.5vw;
    margin-top:1.5rem;
    border-radius:4px;
}
#todos{
    margin-bottom: 2.5rem;
    min-height: 50vh;
}
#add label{
    font-size:1.2rem;
}
#add input, #add button{
    border : none;
    outline : none;
    width:30vw;
    background-color: white;
    color:black;
    padding: 2px 10px;
    border-radius: 4px;
    font-family: cursive;
    font-size:1.1rem;
}
#add input::placeholder{
    font-family: cursive;
    font-size:1rem;
}
#add div{
    margin-bottom: 1rem;
}
#add button{
    width:7vw;
}
#todo{
    background-color: #121113;
    margin-bottom: 1rem;
    padding:1vw;
    border-radius: 3px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s linear;
}
#todo h3{
    color: white;
    margin-bottom: .5rem;
}
#todo p{
    background-color: #121113;
    color: rgba(255, 255, 255, 0.655);
}
#delete{
    font-size:1.6rem;
}
#delete:hover{
    cursor:pointer;
    color: gray;
}
#popup{
    background-color: green;
    position: absolute;
    bottom:10%;
    left:1.7%;
    padding:.5rem 1rem;
    border-radius: 3px;
    font-family:cursive;
    display:none;
    transition: all .3s linear;
}